<nav class="navbar navbar-expand bg-dark navbar-dark sticky-top">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <h5 style="color:white">GRILL ANYWHERE</h5>

      <a class="navbar-brand" href="#">
        <img src="https://www.colourbox.com/preview/6809286-grill.jpg" width="160px" height="50px" alt="">
      </a>
      <h5 style="color:white;">Welcome {{msg}}</h5>
      <ul class="navbar-nav ml-auto" id="menu">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home

          </a>
        </li>
        <li></li>

        <li class="nav-item">

          <a class="nav-link" href="#" routerLink="/manual">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/automatic">Automatic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item dropdown bg-dark">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select City
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Bangalore</a>
            <a class="dropdown-item">Chennai</a>

            <a class="dropdown-item">Hyderabad</a>
          </div>
        </li>

        <li class="nav-item">

          <input type="text" placeholder="Search" style="width:200px">
        </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <button type="submit" (click)="logout()" style="width:70px">LogOut</button>

      



      </ul>
    </div>
  </div>
</nav>


<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/image1.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="assets/images/image2.jpg" width="1100" height="200" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="assets/images/image3.jpg" alt="New York" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<br><br>